

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark"></nav>

        <div class="container-fluid">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/home"><button type="button">Home</button></a>
              <a class="nav-link" href="/create_team"><button type="button">Create a new team</button></a>
              <a class="nav-link" href="/read_team"><button type="button">View teams list</button></a>
              <a class="nav-link" href="/create_player"><button type="button">Create a new player</button></a>
              <a class="nav-link" href="/read_player"><button type="button">View players list</button></a>
            </div>
          </div>
        </div>
      </nav>
  </head>
  <body>
</body>
</html>
<body>
    <h1 style='color:rgb(0, 0, 0);'>Football Team Manager App</h1>
    <div class='navbar'>
        <p>Click the links above to navigate through the app.</p>
    </div>
    {% block body %}
    {% endblock body %}
</body>

