{% extends 'home.html'%}
{% block body %}

<div style="padding-left:40px">
    <title {text-align: center;} style="padding-left:40px">
        AddGame
    </title>
</div>
<div>
    <br>
    <h3>You can Add New Game Here</h3>
</div>
{% if form %}
<form method='POST'>
    {{ form.hidden_tag() }}
    <h2>Add a Game</h2>
    <br>
    {{ form.game_name.label }} {{ form.game_name }}
    <br>
    <p></p>
    {{ form.category.label }} {{ form.category }}
    <br>
    <p></p>
    {{ form.publisher.label }} {{ form.publisher }}
    <br>
    {% if form.game_name.errors %}
    <div class='error'>
        {% for error in form.game_name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <p></p>
    {{ form.submit }}
</form>
{% endif %}

</div>
{% endblock body %}