{% extends 'home.html'%}
{% block body %}

<div style="padding-left:40px">
    <title {text-align: center;} style="padding-left:40px">
        AddGameReview
    </title>
</div>
<div class='form'>
    <h2><br>Please choose a game to post review with</h2>

    <form method='POST' action=''>
        {{ form.hidden_tag() }}
        <p></p>
        {{ form.game_name.label }} {{ form.game_name }}
        <br>
        <p></p>
        {{ form.comments.label }} {{ form.comments }}
        <br>
        <p></p>
        {{ form.rating.label }} {{ form.rating }}
        <br>
        <p></p>
        {{ form.submit }}
    </form>

</div>

{% endblock body %}