<html>
    <head>
        <title>Add Players</title>
    </head>
    <body>
        <p>Your team ID is: {{ variable1 }}</p>
        <p>Your team name is: <b>{{ variable2 }}</b>
      <p>Add players to your team: </p>
      
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                <tbody>
                    <tr>
                        <td>
                        {{ form.name.label }} {{ form.name }}
                        </td>
                        <td>
                        {{ form.age.label }} {{ form.age }}
                        </td>
                        <td>
                        {{ form.position.label }} {{ form.position }}
                        </td>
                        <td>
                        {{ form.submit }}
                        </td>


                    </tr>


                </tbody>
                
                
            {{ message }}
            </form>
        </div>
    </body>
</html>