

<p><a href="data/addplayer">Add another player</a></p>
<p><a href="/team">Create a new team</a></p>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Position</th>
    </tr>
    </thead>
    <tbody>
        {% for row in output_data %} 
            <tr>
                <td>{{row.name}}</td>
                <td>{{row.age}}</td>
                <td>{{row.position}}</td>
                <td><a href="/data/{{row.id}}/update">Update this player</a></td>
                <td>--------</td>
                <td><a href="/data/{{row.id}}/delete">Delete this player</a></td>
            </tr>
        {% endfor %}        
    </tbody>
</table>



