{% extends 'navbar.html' %}


{% block body %}
<title {text-align: center;} style="padding-left:40px">
    Home
</title>

<div style="padding-left:40px">
    <br>
    <h3>Here are your added games</h3>
</div>

{% for Game in all_games %}

<p>
    Game Name: {{Game.game_name}}
    <a href="{{url_for('update_game_info', game_name = Game.game_name)}}">
        <button type="button">Update</button>
    <a href="{{url_for('delete_game_info', game_name = Game.game_name)}}">
        <button type="button">Delete</button>
    </a>
    <br>
    category: {{Game.category}}
    <br>
    publisher: {{Game.publisher}}
    <br>
</p>

{% endfor %}

{% endblock body %}
