<html>



<body>
    <style>
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        div {
            text-align: center;
        }
    </style>
    <p style="background-image: url('BackGround.jpg');"></p>

    <body>
        <div class="header">
            <div>
                <h1> <br><br>FAKE IGN WEBSITE<br><br></h1>
            </div>
            <div id="links">
                <a href="{{ url_for('home') }}"><button type="button">Home</button>
                    <a href="{{ url_for('add_game_info') }}"><button type="button">Add Game infomation</button>
                        <a href="{{ url_for('reviewlist') }}"><button type="button">Review lists</button>
                            <a href="{{ url_for('add_game_review') }}"><button type="button">Add Game Review</button>
                                <a href="{{ url_for('about') }}"><button type="button">About</button> </a>
            </div>
        </div>
        <div class="container">
            {% block body %}
            <div style="padding-left:40px">
                <p>HOME PAGE</p>
            </div>
            {% endblock body %}
        </div>
        <p style="position: fixed; bottom:0%; right:5%;">limited</p>
    </body>

</html>