{% extends 'home.html'%}
{% block body %}
<div style="padding-left:40px">
    <p>Update details here</p>
    {% block content %}
    <h2> Current Game ID: {{ update_game_review.game_id }} </h2>
    <br>
    <div>
        <form action="{{ url_for('update_game_review', game_id = update_game_review.game_id) }}" method='POST'>
            {{ form.hidden_tag() }}
            <br>
            <p></p>
            {{ form.rating.label }} {{ form.rating }}
            <br>
            <p></p>
            {{ form.comments.label }} {{ form.comments }}
            <br>
            {{ form.submit }}
        </form>
    </div>
    {% endblock content %}


</div>
{% endblock body %}